deb https://deb.debian.org/debian {{ podman_apt_distribution }} main
deb-src https://deb.debian.org/debian {{ podman_apt_distribution }} main
deb https://security.debian.org/debian-security {{ podman_apt_distribution }}-security main
deb-src https://security.debian.org/debian-security {{ podman_apt_distribution }}-security main
deb https://deb.debian.org/debian {{ podman_apt_distribution }}-updates main
deb-src https://deb.debian.org/debian {{ podman_apt_distribution }}-updates main
deb https://deb.debian.org/debian {{ podman_apt_distribution }}-backports main
deb-src https://deb.debian.org/debian {{ podman_apt_distribution }}-backports main

